.footer {
  background-color: #4B4D4F;
}

/* the app and content classes exist so that the footer stays below even if the page has no content */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the height of the parent is at least the height of the viewport */

}

.content {
  flex: 1; /* Occupies the remaining available space */
}

.terraz-logo { /* fix quality or change to svg */
  width: 111px;
  height: 56px;
}

.social-logo {
  width: 64px;
  height: 64px;
}