@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* to improve the layout */
  /* border: 1px solid red; */
 }

 body {
  background-color: lightgray;
  color: white;
  font-family: "Roboto";
 }
 