@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* to improve the layout */
  /* border: 1px solid red; */
 }

 body {
  background: linear-gradient(to left, rgb(236, 240, 241), rgb(176, 207, 219));
  color: white;
  font-family: "Roboto";
 }

 /* the app and content classes exist so that the footer stays below even if the page has no content */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the height of the parent is at least the height of the viewport */

}

.content {
  flex: 1; /* Occupies the remaining available space */
  background: linear-gradient(to right, rgb(236, 240, 241), rgb(176, 207, 219));
}
 
/* scrollbar settings */
 /* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(194, 198, 199);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(151, 172, 192);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}