@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* to improve the layout */
  /* border: 1px solid red; */
 }

 body {
  background: linear-gradient(to left, rgb(236, 240, 241), rgb(176, 207, 219));
  color: white;
  font-family: "Roboto";
 }
 
 /* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(194, 198, 199);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(151, 172, 192);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}